.message {
  text-align: center;
  margin-bottom: 3rem;
  color: yellow;
}

@keyframes pulse {
    0%   {opacity: 1;}
    50%  {color:white; opacity:.5;}
    100% {opacity: 1;}
}

.message p {
  display: inline-block;
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}
